[Unit]
Description=Update flatpak packages regularly.

[Timer]
OnBootSec=90min
OnCalendar=14:0:0
Unit=flatpak-updates.service

[Install]
WantedBy=basic.target
